@media (max-width: 1200px)
  header
    .banner
      background-position: 33% 0
      min-height: auto
      .container
        .b_text
          &_title
            margin: 5px 5px 5px 20px
          &_subtitle
            margin: 5px 5px 5px 20px
          &_slogan
            padding: 15px
            margin: 80px 5px 5px 20px
            font-size: var(--responsive)
            max-width: 600px

  #section14
    .two_columns
      grid-template-columns: 68% 30%


@media only screen and (max-width: 1024px)
  header
    .banner
      background-position: 33% 0
      min-height: auto
      .container
        .b_text
          &_slogan
            padding: 25px 15px
            margin: 60px 5px 5px 5px
            font-size: var(--responsive)
            max-width: 540px

  #section14
    .cover
      &_container
        min-height: 540px
        &_headline
          padding: 25px
    .two_columns
      grid-gap: 1em
      &_article
        padding: 20px
        h2
          margin-top: 1em
      &_aside
        &_chat
          p.tell,p.whatsapp
            --min-font: 17
            --max-font: 15
            font-size: var(--responsive)


@media only screen and (max-width: 999px)
  #section14
    .two_columns
      grid-template-columns: 1fr

  footer
    .container
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))

@media (max-width: 991px) and (min-width: 768px)

  #section14
    .cover
      &_container
        min-height: 540px
        &_headline
          padding: 25px
    .two_columns
      margin-top: 0
      grid-gap: 0
      &_article
        padding: 20px
  header
    .banner
      background-position: 33% 0
      min-height: auto
      .container
        .b_text
          margin-top: 10px
          margin-bottom: 0
          min-height: auto
          background: none
          padding-bottom: 120px
          padding-top: 120px
          justify-items: center
          text-align: center
          &_title
            justify-self: auto
          &_subtitle
            justify-self: auto
          &_slogan
            justify-self: auto
            padding: 15px
            margin: 20px 5px 5px 5px
            font-size: var(--responsive)


@media only screen and (max-width: 767px)
  .stamp
    display: none
  .advantages
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr))
  header .banner2
    background-position: right bottom
  .accordion_box
    .grid_button
      .column
        padding: 30px
  #section14
    .cover
      &_container
        min-height: 480px
        &_headline
          padding: 25px
    .two_columns
      margin-top: 0
      grid-gap: 0
      &_article
        padding: 20px


  header
    .banner
      background-position: 35% 0
      min-height: auto
      .container
        .b_text
          margin-top: 10px
          margin-bottom: 0
          min-height: auto
          background: none
          padding-bottom: 80px
          padding-top: 80px
          justify-items: center
          text-align: center
          &_title
            justify-self: auto
          &_subtitle
            justify-self: auto
          &_slogan
            padding: 15px
            margin: 20px 5px 5px 5px
            justify-self: auto
            font-size: var(--responsive)
        .form_header
          width: auto

  footer
    .item_footer.item_logo
      grid-row: 3/4
    .item_footer.item_addr
      grid-row: 1/2
      .footer_title
        justify-self: center
  #section15
    .ev_info
      grid-template-columns: 1fr

@media only screen and (max-width: 600px)
  .accordion_box
    .grid_button
      .column
        padding: 20px
  header
    .banner
      background-position: 35% 0
      min-height: auto
      .container
        .b_text
          padding-top: 20px
          text-align: center
          justify-self: right
          margin-top: 20px
          background: none
          line-height: 1
          min-height: auto
          padding-bottom: 50px
          margin-bottom: 0
          &_title
            justify-self: auto
          &_subtitle
            justify-self: auto
          &_slogan
            padding: 15px
            margin: 20px 5px 5px 5px
            justify-self: auto
            font-size: var(--responsive)


  #section11
    .t_content
      &_header
        display: grid
        grid-template-columns: 1fr
        grid-gap: 2vw
        &_img
          grid-column: 1
          grid-row: 1
        &_content
          grid-column: 1
          grid-row: 2


  #section4
    .form_footer
      justify-items: center

  footer
    .item_footer.item_logo
      grid-row: 3/4
    .item_footer.item_addr
      .footer_title
        justify-self: center
    .f_bottom
      .container
        grid-template-columns: 1fr
        grid-row-gap: 2.5em
        align-items: start
        .item_footer
          text-align: center
          img
            margin: 10px auto

@media only screen and (max-width: 480px)

  #section14
    .cover
      &_container
        min-height: 320px
        &_headline
          padding: 25px 20px
    .two_columns
      margin-top: 0
      grid-gap: 0
      &_article
        padding: 20px
        .gallery
          display: grid
          grid-template-columns: repeat(auto-fit, minmax(150px, 2fr))
        .accordion_box
          .grid_button
            .column
              padding: 10px
              text-align: left
        blockquote
          margin: 1em 0

  header
    .banner
      background-position: 33% 0
      .container
        .b_text
          font-size: 20px
          &_slogan
            padding: 15px
            margin: 20px 5px 5px 5px
            font-size: var(--responsive)

  #section3
    .title
      margin-bottom: 0
    .b_rew
      &_item
        &_info
          float: none
          width: 80%
          text-align: center
          margin: 5px auto
        &_text
          margin-left: 0
          padding: 15px

  #section4 .form_body .form_field_doc select
    font-size: 16px
